<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monopoly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="gameWindowResolutionWidth" value="1680" />
    <add key="gameWindowResolutionHeight" value="1040" />
  </appSettings>
  <userSettings>
    <Monopoly.Properties.Settings>
      <setting name="Volume" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1680</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>1040</value>
      </setting>
      <setting name="Template" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="Resolution" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>800x600</string>
            <string>1024x768  </string>
            <string>1280x1024 </string>
            <string>1600x1200 </string>
            <string>1920x1080</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ResolutionSelected" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GrideSize" serializeAs="String">
        <value>10</value>
      </setting>
    </Monopoly.Properties.Settings>
  </userSettings>
</configuration>

